<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>login page</title>
</head>
<body>
  <h1>inside in login page</h1>
  <form>
   <table style="border:3px solid black;margin-left:auto;margin-right:auto;background-color:white">
   
    <tr><td style="font-size:20px;">Enter Username:</td><td><input type="text" name="name" style="border:3px solid black;font-size:15px"></td><tr>
    <tr><td style="font-size:20px;">Enter Password:</td><td><input type="email" name="email" style="border:3px solid black;font-size:15px"></td><tr>
     <tr><td><input type="submit" value="Login" style="font-size:20px;"></td></tr>
  
   </table>
  </form>
</body>
</html>