<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <h1>Welcome</h1>
 <form method="post" action="details">
   <table>
    <tr><td>Enter Name:</td><td><input type="text" name="name"></td><tr>
    <tr><td>Enter Email:</td><td><input type="email" name="email"></td><tr>
    <tr><td>Enter userName:</td><td><input type="text" name="username"></td><tr>
    <tr><td>Enter Password:</td><td><input type="password" name="password"></td><tr>
     <tr><td><input type="submit"></td></tr>
   </table>
 </form>
</body>
</html>